table {
	margin-top: 10px;
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 49%;
  counter-reset: my-awesome-counter;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.sttr {
  counter-increment: my-awesome-counter;
  text-align: center;
  /*border: 1px solid black;*/
  
}

.sttr:before {
  content: counter(my-awesome-counter) ". ";
}

/*table*/

.content {
	margin: 12px auto;
	width: 700px;
}

.close {
	text-align: center;
}